@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1200px;
  min-height: 60vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 24px 0px;
}

.message-list {
  min-width: 300px;
  display: flex;
  font-weight: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  gap: 30px;
}

.message {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user {
  font-size: 20px;
}

.date {
  font-size: 12px;
}

.text-message {
  font-size: 18px;
  margin-top: 8px;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  box-shadow:
    0 0 0 1px rgb(94.4941176471%, 94.6470588235%, 95.1058823529%),
    0 0 0 4px rgb(81.6470588235%, 82.1568627451%, 83.6862745098%);
}
