@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#msg-board-container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 60vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  gap: 24px;
}

#msg-board-container h1 {
  width: 100vw;
  background-color: #794bc4da;
  color: white;
  padding: 20px;
  text-align: center;
}

.link {
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  color: #794bc4;
  text-decoration: none;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
}

/* Hover stat.e */
.link:hover {
  color: #0d4b9b;
}

.message-list {
  min-width: 300px;
  display: flex;
  font-weight: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  gap: 15px;
}

.message-list li {
  width: 100%;
  list-style-type: none;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  box-shadow:
    0 0 0 1px rgb(94.4941176471%, 94.6470588235%, 95.1058823529%),
    0 0 0 4px rgb(81.6470588235%, 82.1568627451%, 83.6862745098%);
  transition: background-color 0.3s;
}

.message-hdr {
  display: flex;
  align-items: center;
  gap: 4px;
}

.message-hdr h2 {
  flex-grow: 1;
}

.message-list a,
.message-list a:visited,
.message-list a:hover,
.message-list a:active {
  color: black;
  text-decoration: none; /* Removes the default underline */
  cursor: pointer; /* Ensures the hand pointer icon remains */
}
.date {
  color: rgb(146, 146, 146);
}

.icon {
  width: 18px;
  height: 18px;
}

.message:hover {
  cursor: pointer;
  background-color: #e2edfd79;
}

.user {
  font-size: 20px;
}

.date {
  font-size: 12px;
}

.text-message {
  font-size: 18px;
  margin-top: 8px;
}

#msg-details-container {
  max-width: 400px;
  margin: 40px auto;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  gap: 24px;
  font-size: 14px;
  align-items: center;
}

#msg-details-container .link img {
  height: 18px;
}

.author-msg {
  padding: 12px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 2;
  grid-template-areas:
    'text text'
    'author date';
  column-gap: 12px;
  row-gap: 6px;
  background-color: #cfe3fe91;
  border: 4px solid #cfe3fe;
}

.author-msg h3 {
  grid-area: text;
  font-size: 18px;
}

.author-msg p:first-child {
  grid-area: author;
  font-size: 600px;
  font-size: 14px;
}

.author-msg p:last-child {
  grid-area: date;
  color: rgb(146, 146, 146);
}

.msg-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.msg-responses {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.reply-box {
  width: 100%;
  background-color: #eeeeee85;
  padding: 12px;
}

.replay-hdr {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  margin-bottom: 6px;
}

.replay-hdr p {
  color: rgb(146, 146, 146);
  font-size: 12px;
}

.form-container {
  max-width: 400px;
  margin: 40px auto;
  min-height: 60vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  gap: 24px;
  font-size: 14px;
}

.form-container form {
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    'authorLabel authorInput'
    'msgLabel msgInput'
    '. submitBtn';
  row-gap: 8px;
  column-gap: 8px;
  align-items: center;
}

.form-container form label[for='author'] {
  grid-area: authorLabel;
}

.form-container form input[name='author'] {
  grid-area: authorInput;
  height: 32px;
  padding: 8px;
  font-size: 16px;
}

.form-container form label[for='msg'] {
  grid-area: msgLabel;
}

.form-container form textarea[name='msg'] {
  grid-area: msgInput;
  padding: 8px;
  font-size: 16px;
  resize: none;
}

.form-container label {
  font-weight: 600;
}

.form-container button[type='submit'] {
  grid-area: submitBtn;
  background-color: #794bc4da;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
